@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Root.ViewModels.Cms

@model BetterCms.Module.Root.ViewModels.Cms.RenderWidgetViewModel


<div style="border:2px solid red;">
    <h2 style="">sample text</h2>
</div>