@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Root.ViewModels.Cms
@model BetterCms.Module.Root.ViewModels.Cms.RenderWidgetViewModel

<link rel="stylesheet" href="/file/bcms-installation/Content/Styles/Salvattore.css">

<script src="/file/bcms-installation/scripts/js/Salvattore.js"></script>

<div class="container">
    <figure class="intro-grid" data-columns>
        <div class="column">
            <div class="item">
                <img src="http://bettercms.sandbox.mvc4.local.net/uploads/image/b10a1151361e4f67a53b2e92959c26f3/img_app_dev_big.png?170224164237" />
            </div>
            <div class="item">
                <img src="http://bettercms.sandbox.mvc4.local.net/uploads/image/7c7e6224e8074ed192867783cc6c9a8f/content_technology.png?170224164237" />
            </div>
        </div>
        <div class="column">
            <div class="item">
                <img src="http://bettercms.sandbox.mvc4.local.net/uploads/image/744fcc6615ed4a7bb2dc61fc1b085d00/cybersecurity.png?170224164237" />
            </div>
        </div>
    </figure>
</div>
