@{
    Layout = null;
}


@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Root.ViewModels.Cms
@model BetterCms.Module.Root.ViewModels.Cms.RenderWidgetViewModel



@if (Model != null && Model.Options != null)
{
    string bannerImgUrl = null, Title = null, SubTitle = null;
    string guid = Guid.NewGuid().ToString();
    string objId = "myBanner" + guid;


    foreach (var options in Model.Options)
    {
        if (options.Key == "Title")
        {
            Title = options.Value;
        }
        if (options.Key == "SubTitle")
        {
            SubTitle = options.Value;
        }
   

        if (options.Key == "bannerImgUrl")
        {
            bannerImgUrl = options.Value;
        }



    }


    <div style="position:absolute;margin-left:5%;margin-top:3%;width:40%">
				<fieldset>
				  <legend>@Title</legend>
				  <h4>@SubTitle</h4>
				</fieldset>								
				</div>
    <img width="100%;" src="@bannerImgUrl" />


}